---
import { contentfulClient } from '../../lib/contentful';
import type { Case } from '../../lib/contentful';
import CaseList from './CaseList';

const { lang } = Astro.props;

const locale = lang === 'es' ? 'es-AR' : 'en-US';

//Cases Imports
const cases = await contentfulClient.getEntries<Case>({
  content_type: 'caso',
  locale: locale,
});

const textContent = {
  es: {
    upperTitle: 'nuestros proyectos',
    title: 'Una muestra de nuestro trabajo',
    cta: '¿Algún proyecto en mente?',
    linkText: '¡Contactanos!',
  },
  en: {
    upperTitle: 'our projects',
    title: 'Take a look at our work',
    cta: 'Got something on your mind?',
    linkText: 'Contact us!',
  },
};
---

<section class="pt-40">
  <div class="mx-auto max-w-7xl px-4 md:px-8">
    <h5 class="text-sm uppercase">{textContent[lang].upperTitle}</h5>
    <h2 class="my-2 text-left text-5xl font-extrabold text-alpha lg:text-6xl">
      {textContent[lang].title}
    </h2>
    <h6 class="my-2 text-xl text-alpha">
      {textContent[lang].cta}
      <a
        class="text-alpha underline underline-offset-4 transition-all lg:hover:text-bravo"
        href={lang === 'es' ? '/#contact' : '/en#contact'}
        >{textContent[lang].linkText}</a
      >
    </h6>
    <div class="mx-auto grid place-items-center py-16">
      <CaseList client:idle cases={cases} lang={lang} />
    </div>
  </div>
</section>
