---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import How from '../components/How.astro';
import Services from '../components/services/Services.astro';
import About from '../components/About.astro';
import Clients from '../components/clients/Clients.astro';
import Contact from '../components/Contact.astro';
import Why from '../components/Why.astro';

const lang: string = 'es';
---

<Layout title="Crecé Más - Marketing Digital" lang={lang}>
  <Header lang={lang} />
  <Why lang={lang} />
  <How lang={lang} />
  <div class="bg-gray">
    <Services lang={lang} />
    <About lang={lang} />
  </div>
  <Clients lang={lang} />
  <Contact />
</Layout>
