---
interface Props {
  lang: string;
}
const { lang } = Astro.props;

const data = {
  es: {
    title: '¿Cómo funciona?',
    text: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis.',
    bullets: [
      {
        title: 'Reunión',
        description:
          'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.',
      },
      {
        title: 'Planificación',
        description:
          'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. ',
      },
      {
        title: 'Desarrollo',
        description:
          'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.',
      },
      {
        title: 'Entrega',
        description:
          'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.',
      },
    ],
  },
  en: {
    title: 'How Does It Work?',
    text: 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis.',
    bullets: [
      {
        title: 'Meeting',
        description:
          'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.',
      },
      {
        title: 'Planning',
        description:
          'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. ',
      },
      {
        title: 'Development',
        description:
          'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.',
      },
      {
        title: 'Delivery',
        description:
          'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.',
      },
    ],
  },
};
---

<div
  id="how"
  class="w-100vw mb-[-1px] h-[8rem] bg-alpha [clip-path:polygon(0%_30%,100%_0%,100%_100%,0%_100%)] lg:mt-20"
>
</div>
<section
  class="relative overflow-hidden bg-alpha pb-16 sm:py-16 lg:pb-24 lg:pt-12"
>
  <div
    class="mx-auto flex flex-col items-stretch px-4 sm:px-6 lg:w-[90vw] lg:flex-row lg:gap-20 lg:px-6 lg:py-10 xl:w-[70vw]"
  >
    <div
      class="relative flex max-w-screen-md flex-col justify-center text-left"
      data-aos="fade-up"
      data-aos-duration="800"
      data-aos-once="true"
    >
      <svg
        class="absolute right-0 top-[5%] ml-auto hidden h-40 w-40 lg:block"
        viewBox="0 0 152 152"
        fill="none"
        ><defs
          ><clipPath id="clip0"
            ><path
              d="M455.809 325.054 576.49 254.584 545.226 201.044 424.545 271.514Z"
              fill-rule="evenodd"
              clip-rule="evenodd"></path></clipPath
          ><clipPath id="clip1"
            ><path
              d="M455.809 325.054 576.49 254.584 545.226 201.044 424.545 271.514Z"
              fill-rule="evenodd"
              clip-rule="evenodd"></path></clipPath
          ><clipPath id="clip2"
            ><path
              d="M455.809 325.054 576.49 254.584 545.226 201.044 424.545 271.514Z"
              fill-rule="evenodd"
              clip-rule="evenodd"></path></clipPath
          ></defs
        ><g transform="translate(-424 -201)"
          ><g clip-path="url(#clip0)"
            ><g clip-path="url(#clip1)"
              ><g clip-path="url(#clip2)"
                ><path
                  d="M0.447937 18.1614C9.81014 31.5352 18.4347 42.3598 31.519 52.0087 40.0175 58.2759 54.5547 65.2946 64.1291 57.0482 74.8617 47.8042 84.2643 34.1413 91.7659 22.1683 95.8416 15.6632 100.326 9.79988 103.994 3.06629 104.777 1.62775 106.117 0.590713 103.454 1.84721 99.6476 3.64332 95.7206 5.00081 91.7126 6.32044 84.0852 8.83174 82.4146 9.9082 92.4987 7.40962 94.8989 6.81489 101.851 3.59526 104.567 4.38527 107.097 5.12145 106.361 12.9525 106.422 14.9305 106.9 30.442 95.1386 15.7417 88.7647 11.1467"
                  stroke="#DB0BB2"
                  stroke-width="2"
                  stroke-linecap="round"
                  fill="none"
                  transform="matrix(1.12786 -0.658605 -0.504264 -0.86355 455.809 325.054)"
                ></path></g
              ></g
            ></g
          ></g
        ></svg
      >

      <h2
        class="mb-4 text-4xl font-extrabold leading-tight tracking-tight text-white lg:text-6xl"
      >
        {data[lang].title}
      </h2>
      <p class="text-lg text-alphaLight">
        {data[lang].text}
      </p>
    </div>

    <ul class="mx-auto mt-8 flex flex-col items-start justify-evenly lg:mt-0">
      {
        data[lang].bullets.map((item, index) => {
          const animationDelay = (index + 1) * 200;

          return (
            <li
              class="relative mt-8 flex min-h-[25%] items-start justify-start gap-6 lg:gap-8"
              data-aos="fade-left"
              data-aos-delay={animationDelay}
              data-aos-duration="700"
              data-aos-once="true"
            >
              <div class="flex h-14 w-14 flex-shrink-0 items-center justify-center rounded-lg  bg-bravo">
                <h2 class="text-3xl font-bold text-white transition-all lg:group-hover:text-white">
                  {index + 1}
                </h2>
              </div>

              <div>
                <h3 class="text-2xl font-bold text-white">{item.title}</h3>
                <p class="mt-2 text-base  text-white">{item.description}</p>
              </div>
            </li>
          );
        })
      }
    </ul>
  </div>
</section>
