---
interface Props {
  lang: string;
}
const { lang } = Astro.props;

const data = {
  es: {
    title: 'Conectando marcas con sus consumidores.',
    text: 'La publicidad digital no funcionará sin planificación y apoyo. Es un camino que debemos construir y recorrer junto a nuestros clientes, a partir del conocimiento de sus necesidades, transformándonos en un equipo sólido y transparente que nos permita cumplir con los objetivos deseados. Te invitamos a trabajar juntos.',
    bullets: [
      {
        name: 'Centrados en el cliente',
        text: 'Estamos enfocados en que tu negocio crezca. Es allí donde crecemos todos.',
      },
      {
        name: 'Mente Digital',
        text: 'Sin perder de vista lo que sucede fuera de la red, nos concentramos en los canales digitales.',
      },
      {
        name: 'Orientado a resultados',
        text: 'Claros en los objetivos y decididos en alcanzar los resultados.',
      },
    ],
    stats: [
      {
        number: '5+',
        text: 'Años en el negocio',
      },
      {
        number: '575',
        text: 'Proyectos entregados',
      },
      {
        number: '10+',
        text: 'Personas trabajando',
      },
    ],
  },
  en: {
    title: 'Connecting brands with consumers.',
    text: 'Digital advertising is not magical without planning and support, it is a bridge that we must build together with our clients from the first shore, transforming ourselves into a solid and transparent team that allows us to reach the second shore with the achievement of the desired objectives. We invite you to work together.',
    bullets: [
      {
        name: 'Customer centric',
        text: 'We are focused on growing your business. This is how we all grow.',
      },
      {
        name: 'Digital mindset',
        text: 'Without losing sight of what happens outside the Internet, we focus on digital channels.',
      },
      {
        name: 'Result driven',
        text: 'Clear on the objectives and determined to achieve the results.',
      },
    ],
    stats: [
      {
        number: '5+',
        text: 'Years in business',
      },
      {
        number: '575',
        text: 'Projects delivered',
      },
      {
        number: '10+',
        text: 'Team members',
      },
    ],
  },
};
---

<section class="bg-white">
  <div
    class="mx-auto items-center px-4 py-24 sm:px-6 lg:w-[90vw] lg:px-6 lg:pb-24 lg:pt-36 xl:w-[70vw]"
  >
    <div>
      <div class="">
        <p
          class="mb-8 text-4xl font-extrabold tracking-tight text-alpha lg:w-full lg:text-6xl lg:leading-[4.3rem] 3xl:w-3/4"
        >
          {data[lang].title}
        </p>
        <p class="text-lg text-alpha lg:w-3/4 lg:text-xl">
          {data[lang].text}
        </p>
      </div>
    </div>
    <div class="mx-auto mt-12 w-full text-left">
      <div
        class="relative m-auto items-center gap-12 md:order-first lg:inline-flex"
      >
        <div class="lg: mx-auto">
          <ul
            role="list"
            class="mt-12 grid list-none grid-cols-1 gap-12 md:grid-cols-3 lg:gap-16 lg:px-20 3xl:gap-12"
          >
            {
              data[lang].bullets.map((item, index) => {
                const animationDelay = (index + 1) * 100;
                return (
                  <li
                    class="flex flex-col items-center justify-start"
                    data-aos="fade-up"
                    data-aos-delay={animationDelay}
                    data-aos-duration="800"
                    data-aos-once="true"
                  >
                    <div class="inline-flex h-16 w-16 rotate-90 items-center justify-center rounded-full text-bravo">
                      <svg
                        class="h-16 w-16"
                        viewBox="0 0 62 74"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M8.2998 73.2001V11.6001L61.5998 42.4001L8.2998 73.2001ZM11.3998 17.1001V67.8001L55.2998 42.4001L11.3998 17.1001Z"
                          fill="#bfbef0"
                        />
                        <path
                          d="M0 61.5V0L53.3 30.8L0 61.5ZM3.09999 5.29999V56L47 30.6L3.09999 5.29999Z"
                          fill="currentColor"
                        />
                        <path
                          d="M0 61.5V0L53.3 30.8L0 61.5ZM3.09999 5.29999V56L47 30.6L3.09999 5.29999Z"
                          fill="currentColor"
                          fill-opacity="0.2"
                        />
                      </svg>
                    </div>
                    <div>
                      <h3 class="mt-2 text-center text-3xl font-bold leading-6 text-bravo lg:mt-4">
                        {item.name}
                      </h3>
                      <p class="text-gray-500 mx-auto mt-4 w-2/3 text-center text-base lg:w-[80%]">
                        {item.text}
                      </p>
                    </div>
                  </li>
                );
              })
            }
          </ul>
          <div
            class="mx-auto mt-12 grid grid-cols-1 gap-8 text-center sm:gap-x-8 md:grid-cols-3 lg:mt-24 lg:w-2/3"
          >
            {
              data[lang].stats.map((item, index) => {
                const animationDelay = (index + 1) * 100;
                return (
                  <div
                    data-aos="fade-up"
                    data-aos-delay={animationDelay}
                    data-aos-duration="800"
                    data-aos-once="true"
                  >
                    <h3 class="text-7xl font-bold">
                      <span class="bg-gradient-to-r from-bravo to-alpha bg-clip-text text-transparent">
                        {item.number}
                      </span>
                    </h3>
                    <p class="text-gray-500 mt-4 text-xl font-normal">
                      {item.text}
                    </p>
                  </div>
                );
              })
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
