---
interface Props {
  lang: string;
}
const { lang } = Astro.props;

// const data = [
//   {
//     name: 'Centrados en el cliente',
//     text: 'Plus, our platform is constantly evolving to meet the changing needs.',
//   },
//   {
//     name: 'Mente Digital',
//     text: 'Plus, our platform is constantly evolving to meet the changing needs.',
//   },
//   {
//     name: 'Result driven',
//     text: 'Plus, our platform is constantly evolving to meet the changing needs.',
//   },
// ];

const data = {
  es: {
    title:
      'Top of mind de las empresas en necesidad de soluciones de marketing.',
    text: 'We all make mistakes, have struggles, and even regret things in our past. But you are not your mistakes, you are not your struggles, and you are here NOW with the power to shape your day and your future',
    bullets: [
      {
        name: 'Centrados en el cliente',
        text: 'Plus, our platform is constantly evolving to meet the changing needs.',
      },
      {
        name: 'Mente Digital',
        text: 'Plus, our platform is constantly evolving to meet the changing needs.',
      },
      {
        name: 'Result driven',
        text: 'Plus, our platform is constantly evolving to meet the changing needs.',
      },
    ],
    stats: [
      {
        number: '6+',
        text: 'Años en el negocio',
      },
      {
        number: '4821',
        text: 'Proyectos entregados',
      },
      {
        number: '37+',
        text: 'Personas trabajando',
      },
    ],
  },
  en: {
    title: 'Top of mind of the companies in need of marketing solutions.',
    text: 'We all make mistakes, have struggles, and even regret things in our past. But you are not your mistakes, you are not your struggles, and you are here NOW with the power to shape your day and your future',
    bullets: [
      {
        name: 'Customer centric',
        text: 'Plus, our platform is constantly evolving to meet the changing needs.',
      },
      {
        name: 'Digital mindset',
        text: 'Plus, our platform is constantly evolving to meet the changing needs.',
      },
      {
        name: 'Result driven',
        text: 'Plus, our platform is constantly evolving to meet the changing needs.',
      },
    ],
    stats: [
      {
        number: '6+',
        text: 'Years in business',
      },
      {
        number: '4821',
        text: 'Projects delivered',
      },
      {
        number: '37+',
        text: 'Team members',
      },
    ],
  },
};
---

<section class="bg-white">
  <div
    class="mx-auto items-center px-4 py-24 sm:px-6 lg:w-[90vw] lg:px-6 lg:pb-24 lg:pt-36 xl:w-[70vw]"
  >
    <div>
      <div class="">
        <p
          class="mb-8 text-4xl font-extrabold tracking-tight text-alpha lg:w-full lg:text-6xl lg:leading-[4.3rem] 3xl:w-3/4"
        >
          {data[lang].title}
        </p>
        <p class="text-lg text-alpha lg:w-3/4 lg:text-xl">
          {data[lang].text}
        </p>
      </div>
    </div>
    <div class="mx-auto mt-12 w-full text-left">
      <div
        class="relative m-auto items-center gap-12 md:order-first lg:inline-flex"
      >
        <div class="lg: mx-auto">
          <ul
            role="list"
            class="mt-12 grid list-none grid-cols-1 gap-12 md:grid-cols-3 lg:gap-16 lg:px-20 3xl:gap-12"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-once="true"
          >
            {
              data[lang].bullets.map((item) => {
                return (
                  <li class="flex flex-col items-center justify-center">
                    <div class="inline-flex h-16 w-16 rotate-90 items-center justify-center rounded-full text-bravo">
                      <svg
                        class="h-16 w-16"
                        viewBox="0 0 62 74"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M8.2998 73.2001V11.6001L61.5998 42.4001L8.2998 73.2001ZM11.3998 17.1001V67.8001L55.2998 42.4001L11.3998 17.1001Z"
                          fill="#bfbef0"
                        />
                        <path
                          d="M0 61.5V0L53.3 30.8L0 61.5ZM3.09999 5.29999V56L47 30.6L3.09999 5.29999Z"
                          fill="currentColor"
                        />
                        <path
                          d="M0 61.5V0L53.3 30.8L0 61.5ZM3.09999 5.29999V56L47 30.6L3.09999 5.29999Z"
                          fill="currentColor"
                          fill-opacity="0.2"
                        />
                      </svg>
                    </div>
                    <div>
                      <h3 class="mt-2 text-center text-3xl font-bold leading-6 text-bravo lg:mt-4">
                        {item.name}
                      </h3>
                      <p class="text-gray-500 mx-auto mt-4 w-2/3 text-center text-base lg:w-[80%]">
                        {item.text}
                      </p>
                    </div>
                  </li>
                );
              })
            }
          </ul>
          <div
            class="mx-auto mt-12 grid grid-cols-1 gap-8 text-center sm:gap-x-8 md:grid-cols-3 lg:mt-24 lg:w-2/3"
            data-aos="fade-up"
            data-aos-delay="300"
            data-aos-duration="800"
            data-aos-once="true"
          >
            {
              data[lang].stats.map((item) => {
                return (
                  <div>
                    <h3 class="text-7xl font-bold">
                      <span class="bg-gradient-to-r from-bravo to-alpha bg-clip-text text-transparent">
                        {item.number}
                      </span>
                    </h3>
                    <p class="text-gray-500 mt-4 text-xl font-normal">
                      {item.text}
                    </p>
                  </div>
                );
              })
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
