---
export interface Props {
  title: string;
  lang: string;
  alternateNav: boolean;
}
const { title, lang, alternateNav } = Astro.props;

//Global Css Imports
import '../styles/styles.css';

//Component Import
import Nav from '../components/nav/Nav.jsx';
import Footer from '../components/Footer.astro';
---

<html lang="es" class="select-none">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-TWKK3HK');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- Meta Data -->
    <meta
      name="description"
      content="Somos una agencia de marketing digital que ofrece una amplia gama de servicios para ayudar a hacer crecer su negocio. Tenemos las herramientas y el conocimiento para maximizar su alcance en línea."
    />
    <meta
      name="keywords"
      content="digital, marketing, seo,sem,advertising, agency,growth,branding, performance,programmatic, development, coding,community,managment,crecé,más,social network, redes sociales, publicidad, agencia, crecimiento, marcas"
    />
    <meta property="og:site_name" content="Crecé Más - Marketing Digital " />
    <meta property="og:title" content="Crecé Más - Marketing Digital " />
    <meta
      property="og:description"
      content="Somos una agencia de marketing digital que ofrece una amplia gama de servicios para ayudar a hacer crecer su negocio. Tenemos las herramientas y el conocimiento para maximizar su alcance en línea."
    />
    <meta property="og:image" content="https://crecemas.net/imgs/logo.png" />
    <!-- Font Import -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- AOS CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>{title}</title>
    <!-- meta-site-verification -->
    <meta name="facebook-domain-verification" content="f5xhtu3f6pfq6dmki2kmsg170c217c" />
  </head>
  <body class="font-franklin">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TWKK3HK"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <Nav client:load lang={lang} alternateNav={alternateNav} />
    <slot />
    <Footer lang={lang} />
    <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <!-- hCaptcha for web3form -->
    <script src="https://web3forms.com/client/script.js" async defer></script>
  </body>
</html>
